<h1>this is secret page!</h1>
<p>you found me !</p>
<img src="http://static1.squarespace.com/static/5893faa1ebbd1a8f680352a1/5adce39a1ae6cfbd0c6f539a/5b465ab6562fa747af1b2ba6/1531421469181/ORIGINAL.jpg?format=1500w">
<li><a href="/logout">Logout</a></li>